@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.GraphWrapper {
  width: '15vw';
  height: '10vh';
  position: relative;
}

table {
  width: 100%
}

.layout {
  display: flex;
  height: 100vh;
  gap: 1rem;
}


.sidebar_wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}


.sidebar_menu {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
}


.sidebar_logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_logo_name {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.sidebar_list {
  list-style: none;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar_icon {
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.theme_btn {

  border: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}


[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar_name {
  display: none;
}

[data-collapse="true"] .sidebar_logo_name {
  display: none;
}


.keycontent {
  flex: 1 1 0%;
}

[data-collapse="true"] .keycontent {
  flex: none;
}

.about_img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;

}

.chart-canvas {
  width: 100% !important;
  height: auto !important;
}